.img-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 8px;
  text-align: center;
}
.img-container img {
  max-width: 50%;
  height: auto;
}
.img-container legend {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #e63002;
}
.header {
  text-align: center;
}
.navbar {
  margin-bottom: 20px;
}
.navbar-brand {
  font-size: 24px;
}
body {
  background-image: url("https://64.media.tumblr.com/b9476386e023be78427f2affc37a0350/tumblr_pc6ibfrD5i1uruo10o1_500.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.navbar {
  background-color: #000000;
}
@media (max-width: 576px) {
  .navbar-collapse {
    background-color: #000000;
    border-top: 1px solid #e60202;
  }
  .navbar-nav {
    padding-bottom: 15px;
  }
  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .img-container {
    flex-basis: 50%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .img-container {
    flex-basis: 33.33%;
  }
}
@media (min-width: 992px) {
  .img-container {
    flex-basis: 25%;
  }
}